---
interface Props {
  title: string;
  description?: string;
  keywords?: string;
}

const { title, description, keywords } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description ? <meta name="description" content={description} /> : null}
    {keywords ? <meta name="keywords" content={keywords} /> : null}
  </head>
  <body class="flex flex-col">
    <header
      class="pointer-events-auto sticky top-0 z-20 w-full bg-white bg-opacity-90 px-6 py-3 backdrop-blur-[20px] backdrop-saturate-150 md:px-14"
    >
      <div class="container flex items-center justify-between gap-6">
        <div class="flex items-center gap-3 md:gap-16">
          <a href="/" class="text-lg font-bold tracking-tight text-zinc-900">
            AltPlace
          </a>
        </div>

        <div class="flex items-center justify-between gap-3">
          <div class="flex items-center gap-3"></div>
        </div>
      </div>
    </header>
    <main class="relative flex flex-1 flex-col">
      <slot />
    </main>
    <footer class="bg-[#202058] px-14 py-2">
      <div class="flex flex-col">
        <div
          class="mb-4 mt-2 flex flex-col justify-center gap-3 text-center md:flex-row md:justify-between"
        >
          <span class="text-center text-base text-white"> AltPlace </span>
        </div>

        <div
          class="mt-2 flex flex-col items-center justify-center border-t-2 border-zinc-400 py-2 text-center md:flex-row md:justify-between"
        >
          <div class="inline-block">
            <span class="pr-2 text-[12px] text-zinc-200"
              >Copyright &copy; {new Date().getFullYear()}</span
            >
            <span class="text-[12px] text-zinc-200">&bull;</span>
            <span class="pl-2 text-[12px] text-zinc-200"
              >All Rights Reserved</span
            >
          </div>
          <div class="inline-block">
            <span class="pr-2 text-[12px] text-zinc-200">Privacy Policy</span>
            <span class="text-[12px] text-zinc-200">&bull;</span>
            <span class="pl-2 text-[12px] text-zinc-200">Terms of Service</span>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
