DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=cyberlive
DB_CONNECTION_URI=postgres://postgres:postgres@localhost:5432/cyberlive?sslmode=disable

SESSION_SECRET=secret
ACCESS_TOKEN_SECRET=secret
REFRESH_TOKEN_SECRET=secret

CLIENT_URL=http://localhost:3000

APP_PORT=4000
APP_EMAIL_ADDRESS=
APP_EMAIL_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MINIO_ROOT_USER=cyberlive
MINIO_ROOT_PASSWORD=cyberlive
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET=cyberlive
MINIO_REGION=eu-central-1
PUBLIC_CDN_URL=http://localhost:9000/cyberlive/