@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  font-family: "Montserrat", sans-serif;
  /* background-color: #222629; */
}

body {
	min-height: 100svh;
	scrollbar-gutter: stable;
	color: theme("colors.zinc.900");
}

:root {
	color-scheme: light;
}
/* 
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */


[data-radix-scroll-area-viewport] > div {
	display: block !important;
}


